

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7dbc9 !important;
}
.playwrite-de-grund {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.img-controller{
  height: 150px;
  width: 150px;
}

.profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.card-body{
    word-wrap: break-word;
  overflow: hidden;
}
span.fw-bold{
  font-family: sans-serif;
}
.spinner{
  margin: auto;
  height: 200px;
  width: 200px;
}
